.profile__add-button {
    width: 100%;
    max-width: 150px;
    min-height: 50px;
    background-image: url("../../../images/add-button.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000;
    border: 2px solid #fff;
    border-radius: 2px;
    margin: 0 10px 0 0;
    padding: 0;
    outline: none;
    cursor: pointer;
    transition: .6s ease-in-out;
    justify-self: end;
}

.profile__add-button:hover {
    opacity: .6;
    transition: .6s ease-in-out;
  }
  
  @media screen and (max-width: 697px) {
    .profile__add-button {
        background-size: 16px;
        justify-self: center;
        max-width: 280px;
    }
}